data/GeoNet/*.csv
data/PANGA/cleaned/*
data/PANGA/detrended/*
data/PANGA/raw/*
data/tremor/*
src/events/*
src/level*
src/MODWT_tremor/tremor_filter_*.pdf
src/MODWT_tremor/tremor_ma_*.pdf
src/MODWT_tremor/tremor_poly_*.pdf
src/new_events/*
src/old_events/*
src/vespagrams/*
src/*.pdf

